.BszwP0r6KLz1IKOhEluTW {
}
.BszwP0r6KLz1IKOhEluTW > * {
  margin: 1rem;
}
.BszwP0r6KLz1IKOhEluTW > img {
  display: block;
  margin: 1rem auto 1.5rem;
}
.BszwP0r6KLz1IKOhEluTW > h1 {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.0015em;
  color: #37393A;
}
.BszwP0r6KLz1IKOhEluTW > p {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.0025em;
  color: #37393A;
}
.BszwP0r6KLz1IKOhEluTW > div > a {
  color: #229BD8;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  letter-spacing: 0.0025em;
}
.BszwP0r6KLz1IKOhEluTW > button {
  display: block;
  margin: 2rem auto;
  letter-spacing: 0.3px;
}
.QZ0d2lrIdQVkEwXJRu4Dw {
  padding: 0 !important;
}
.t1tUgVTgdUy150ntaszmt {
  margin: 0;
  padding: calc(100rem / 16) 0 0;
}

._3LtLG_HWu3e7_3vclmt4_X > :first-child {
  color: var(--base-primary-dark);
  margin-bottom: calc(40rem/16);
}

._3LtLG_HWu3e7_3vclmt4_X > :nth-child(1) {
  color: var(--base-primary-dark);
  margin-bottom: calc(40rem/16);
}

._3LtLG_HWu3e7_3vclmt4_X > :nth-child(2) {
  color: var(--base-primary-dark);
  margin-bottom: calc(40rem/16);
}

._3LtLG_HWu3e7_3vclmt4_X > ._2JW9_XKc3L3YB0Q8_7oeai {
  display: flex;
  justify-content: space-between;
}
._1EBqYI7waL0FbuBqkc_OxS {
    display: flex;
    justify-content: space-between;
}
._3LtLG_HWu3e7_3vclmt4_X > div:nth-child(2) {
  padding: calc(64rem / 16) calc(220rem/15);
  background: #f6f6f6;
  margin: 0 calc(-234rem/16);
}

._3LtLG_HWu3e7_3vclmt4_X > div > div >._3X_wUdY81FUinasE3f_9D {
  color: var(--base-primary-main);
  font-weight: 500;
  width: calc(245rem / 16);
  margin-top: 1rem;
}

._3LtLG_HWu3e7_3vclmt4_X > div > ._2_DIi-GLUPzmrBMZBJXSEY {
  color: var(--grey-main);
  text-align: justify;
  width: calc(579rem / 16);
}
a {
  color: var(--base-primary-main);
}
.FR0TNAabLDRj3scJEE15a {
  margin-top: 1rem;
  align-items: baseline;
  background-color: var(--base-primary-soft);
  border-radius: .5rem;
  color: var(--base-primary-main);
  display: flex;
  justify-content: space-around;
  padding: 1rem;
  border: 1px solid #BDE6FA;
}
.FR0TNAabLDRj3scJEE15a > p {
  margin-left: 1rem;
}
@media only screen and (max-width: 480px) {
  .t1tUgVTgdUy150ntaszmt {
    margin: 0 calc(-24rem / 16);
    padding: calc(24rem / 16);
  }
  ._3LtLG_HWu3e7_3vclmt4_X > div:nth-child(2) {
    padding-top: 5.5rem;
  }
  ._3LtLG_HWu3e7_3vclmt4_X > :first-child {
    font-size: .725rem;
    line-height: 1.25rem;
    font-weight: 500;
  }

  ._3LtLG_HWu3e7_3vclmt4_X > div {
    flex-direction: column;
    margin-top: 0.5rem;
  }

  ._3LtLG_HWu3e7_3vclmt4_X > div > div > ._3X_wUdY81FUinasE3f_9D {
    margin-bottom: 1rem;
    font-size: calc(17rem / 16);
    width: auto;
  }

  ._3LtLG_HWu3e7_3vclmt4_X > div > ._2_DIi-GLUPzmrBMZBJXSEY {
    font-size: calc(13rem / 16);
    letter-spacing: 0.01em;
    line-height: 1.25rem;
    text-align: left;
    width: auto;
  }
}
._1rvV20efVr8C2ZUyHC4Kpt {
  margin: 0 calc(-220rem / 16);
  padding: calc(80rem / 16) calc(220rem / 16);
  position: relative;
}

._1rvV20efVr8C2ZUyHC4Kpt > img {
  position: absolute;
  right: 0;
  top: 0;
  width: calc(240rem / 16);
}

._1rvV20efVr8C2ZUyHC4Kpt > ._1ExCCMiDPqdGTHi9u9joJC {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

._1ExCCMiDPqdGTHi9u9joJC > :first-child {
  color: var(--base-primary-main);
  font-weight: 500;
}

._1ExCCMiDPqdGTHi9u9joJC > div > a > img {
  height: calc(30rem / 16);
  border-radius: 3px;
}

._1ExCCMiDPqdGTHi9u9joJC > div > :nth-child(1) {
  margin-right: 1.25rem;
}

._1ExCCMiDPqdGTHi9u9joJC > div > :nth-child(2) {
  margin-right: 1.25rem;
}

@media only screen and (max-width: 480px) {
  ._1rvV20efVr8C2ZUyHC4Kpt {
    margin: 0 calc(-24rem / 16);
    padding: calc(24rem / 16);
  }
  
  ._1rvV20efVr8C2ZUyHC4Kpt > img {
    height: calc(120rem / 16);
    width: auto;
  }
  
  ._1rvV20efVr8C2ZUyHC4Kpt > ._1ExCCMiDPqdGTHi9u9joJC {
    flex-direction: column;
    align-items: flex-start;
  }
  
  ._1ExCCMiDPqdGTHi9u9joJC > :first-child {
    font-size: calc(14rem / 16);
    margin-bottom: 1rem;
    z-index: 2;
  }
  
  ._1ExCCMiDPqdGTHi9u9joJC > div > a > img {
    height: calc(24rem / 16);
    width: auto;
    border-radius: 3px;
  }

  ._1ExCCMiDPqdGTHi9u9joJC > div > :nth-child(1) {
    margin-right: .5rem;
  }

  ._1ExCCMiDPqdGTHi9u9joJC > div > :nth-child(2) {
    margin-right: .5rem;
  }

}
._1dAPLvx-MLiY1hUv2IfwRh {
  display: grid;
  grid-template-columns: minmax(auto, 33%) minmax(auto, 33%) 34%;
  grid-gap: .7rem;
  margin: 1rem auto;
}
.LikKYr3YTKcvRn1-5nH8Y {
  color: var(--grey-main);
  font-style: normal;
  font-weight: normal;
  font-size: .65rem;
  line-height: 1rem;
  margin-top: .5rem;
  text-align: left;
}
.LikKYr3YTKcvRn1-5nH8Y > a {
  color: var(--base-primary-main);
}
._2j0a9v7VgZGaXlrTsipx2 {
  color: #424242;
  font-size: 1rem;
  font-weight: 500;
}
._1kWpqr2fWwjf-13YnUDDda {
  height: 3.5rem;
}
._3a0IXpI_hH1cLj78UzKw_Y {
  letter-spacing: 0.3px;
  margin-left: 1rem;
}
._2iImiYoD-R1x30S3CamPE4 {
  align-items: center;
  background-color: var(--base-secondary-soft);
  border-radius: .5rem;
  color: var(--base-secondary-main);
  display: flex;
  padding: 1rem;
  margin: 2rem 0;
}
._7VxrU0CGhEStqQPHjsssu {
  display: flex;
  flex-wrap: nowrap;
  transform: scale(0.68);
  transform-origin: top left;
  margin-top: 1.7rem;
}
@media only screen and (max-width: 480px) {
  ._1dAPLvx-MLiY1hUv2IfwRh {
    display: block;
    width: 100%;
  }
  ._1dAPLvx-MLiY1hUv2IfwRh > * {
    margin: 1rem 0;
  }
  ._7VxrU0CGhEStqQPHjsssu {
    transform: scale(0.63);
    margin-top: 0;
  }
  ._7VxrU0CGhEStqQPHjsssu > div {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    min-width: 100%;
  }
  ._3a0IXpI_hH1cLj78UzKw_Y {
    border-radius: 4px;
    min-width: 50%;
  }
}
@media only screen and (min-width : 481px) and (max-width: 599px) {
  ._7VxrU0CGhEStqQPHjsssu {
    transform: scale(0.35);
  }
}
@media only screen and (min-width : 600px) and (max-width: 999px) {
  ._7VxrU0CGhEStqQPHjsssu {
    transform: scale(0.35);
  }
}
@media only screen and (min-width : 1000px) and (max-width: 1050px) {
  ._7VxrU0CGhEStqQPHjsssu {
    transform: scale(0.5);
  }
}
@media only screen and (min-width : 1051px) and (max-width: 1322px) {
  ._7VxrU0CGhEStqQPHjsssu {
    transform: scale(0.6);
  }
}
@media only screen and (min-width : 1051px) and (max-width: 1166px) {
  ._7VxrU0CGhEStqQPHjsssu {
    transform: scale(0.55);
  }
}
@media only screen and (min-width : 1824px) {
  ._7VxrU0CGhEStqQPHjsssu {
    transform: scale(0.9);
  }
}

.G0obSpwyt2cjD2SiCcSg3 {
  background: #FFFFFF;
  border: 1px solid #EEEEEE;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding: 1rem 1.5rem 0;
  overflow-y: hidden;
}
.G0obSpwyt2cjD2SiCcSg3 > h1 {
  color: #37393A;
  font-weight: 500;
  letter-spacing: 0.01em;
  /* margin-bottom: 1rem; */
}
.G0obSpwyt2cjD2SiCcSg3 > p {
  color: #757575;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.5px;
  text-align: left;
  margin-bottom: 1rem;
}
._1r2NCudcY3h4Vb5WravVB {
  border-bottom: .1em solid var(--grey-soft);
}
.ISGM_F_sG0lTOkK8AoBe_ {
  margin-bottom: 1rem;
  color: red;
  font-size: small;
  padding-left: 5px;
  padding-right: 5px;
}

.nt7JxDrDXMpGEUs5GO2hT {
  background-color: #FFE3AC;
  margin-left: -1.5rem;
  margin-right: -1.5rem;
  text-align: center;
}
.nt7JxDrDXMpGEUs5GO2hT > span,
.nt7JxDrDXMpGEUs5GO2hT > a {
  display: inline-block;
  line-height: 40px;
  color: #141414;
}
.nt7JxDrDXMpGEUs5GO2hT > a {
  text-decoration: underline;
  font-weight: bold;
  margin-left: 4px;
}

._1yA_ESOmoEVxLl5ZRzAGe8 {
  margin: 0;
}
._1yA_ESOmoEVxLl5ZRzAGe8 > hr, .bMiGFEmxPFJNA5CPKVFIV > hr {
  border-top: 1px #EEEEEE;
  margin: 1rem 0;
}
._1yA_ESOmoEVxLl5ZRzAGe8 > hr {
  margin: 0;
}
._1yA_ESOmoEVxLl5ZRzAGe8 > h2 {
  font-size: 16px;
  line-height: 24px;
  color: #37393A;
  margin: 16px 20px;
}
._13rcOUO-NX2gVyqEtLYKQS {
  padding: 0;
}
.B1CAU5RAFirfO7zOJAjD0 {
  padding-bottom: 0;
}
.bMiGFEmxPFJNA5CPKVFIV {
  margin: 0;
  padding: 40px 16px;
  max-width: unset;
  max-height: 80vh;
  overflow-y: scroll;
  text-align: center;
  background-color: #F6F6F6;
}
.bMiGFEmxPFJNA5CPKVFIV img {
  margin-bottom: 20px;
}
.bMiGFEmxPFJNA5CPKVFIV p {
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 0.5px;
  margin-bottom: 16px;
  color: #545454;
}
.bMiGFEmxPFJNA5CPKVFIV > h3 {
  margin: 0 0 4px;
  font-weight: 500;
  font-size: 20px;
  line-height: 32px;
  text-align: center;
  letter-spacing: 0.5px;
  color: #141414;
}
.bMiGFEmxPFJNA5CPKVFIV .fCI8zigWdZ-Fs9iMhnEC7 {
  font-weight: bold;
  font-size: 14px;
  line-height: 22px;
  text-align: center;
  letter-spacing: 0.3px;
  padding-top: 14px;
  padding-bottom: 14px;
}

@media only screen and (min-width: 481px) {
  .G0obSpwyt2cjD2SiCcSg3 > h1 {
    font-size: 20px;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: .3px;
  }

  .bMiGFEmxPFJNA5CPKVFIV {
    padding: 24px;
  }
}
._2nG6mbkHTJxc9EuQLXJ796 {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  height: 100vh;
  background-color: rgba(0,0,0, .4);
  z-index: 10;
  transition: all ease .5s;
}

._2nG6mbkHTJxc9EuQLXJ796._3OVQjucGc2Nsa9-Dv53U1n {
  opacity: 1;
  display: block;
}
._2nG6mbkHTJxc9EuQLXJ796.jd9Xn7Td3bDDhJsEZ6rBP {
  opacity: 1;
}
._2nG6mbkHTJxc9EuQLXJ796.jd9Xn7Td3bDDhJsEZ6rBP ._2OeWVOAudIcr88O14kEtZM._3gNeBr38pTSuyY11mlvgbF {
  /* top: 100px; */
  bottom: 0;
}
._2nG6mbkHTJxc9EuQLXJ796._1TsU7dALneU2_IRyEQAir_ {
  opacity: 0;
}
._2nG6mbkHTJxc9EuQLXJ796._3jOVxWsyb5XqQWxrDHDpNZ {
  opacity: 0;
  display: none;
}

._2OeWVOAudIcr88O14kEtZM {
  position: absolute;
  left: 0;
  right: 0;
  bottom: -100vh;
  background-color: white;
  border-radius: 16px 16px 0 0;
  padding: 44px 16px 16px;
  transition: all ease .5s;
}

._25v8ACiEdAwUe9_8k2E76G {
  cursor: pointer;
  border: none;
  padding: 0;
  background-color: rgba(0,0,0,.24);
  width: 28px;
  height: 28px;
  border-radius: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 16px;
  right: 16px;
}
._25v8ACiEdAwUe9_8k2E76G > img {
  width: 16px;
}

._2ZMYKuHc5gbsm_OkMhLwEv {
  display: none;
}

@media screen and (min-width: 481px) {
  ._2nG6mbkHTJxc9EuQLXJ796 {
    display: none;
  }

  ._2ZMYKuHc5gbsm_OkMhLwEv {
    display: block;
  }

  ._3KKBW3n3QPK5syJtOPju9r {
    padding-bottom: 20px;
    width: 500px;
  }
}
.gYegoh5Y18G042FArglTm > .uQ-eVfNneBNz95IEmlPI {
  margin: -10%  calc(-220rem / 16) 0;
  padding: 0 calc(130rem / 16);
}
._1AdmitGV55vdT8fX4rRzjt {
  background-color: var(--base-primary-soft);
  background-image: url(/assets/banner-home-vaccine.svg);
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: right -5rem;
  margin: 0 calc(-220rem / 16);
  padding: 4.81rem calc(130rem / 16) calc(159rem / 16);
  margin-top: 128px;
}
._1AdmitGV55vdT8fX4rRzjt > div > h1 {
  font-style: normal;
  font-weight: 600;
  font-size: calc(100vw * 32 / 1440);
  line-height: calc(100vw * 46 / 1440);
  letter-spacing: 0.01em;
  color: var(--base-primary-main);
}
._1AdmitGV55vdT8fX4rRzjt > button {
  align-items: center;
  display: inline-flex;
  font-size: calc(100vw * 14 / 1440);
  line-height: calc(100vw * 22 / 1440);
  letter-spacing: 0.3px;
  padding: 1rem 2rem;
  text-transform: uppercase;
}
._1AdmitGV55vdT8fX4rRzjt > button > img {
  margin-left: .5rem;
}
._1AdmitGV55vdT8fX4rRzjt > div > p {
  line-height: 24px;
  margin: 1rem 0;
}
._1AdmitGV55vdT8fX4rRzjt > div {
  max-width: 35rem;
  margin: 0 0 1rem;
  width: 50%;
}
.gYegoh5Y18G042FArglTm > h3 {
  color: #37393A;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.01em;
  margin-bottom: 1rem;
}
.G1l4RvsTjaa5ES8mlH9NK {
  background: #FFFFFF;
  box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.12);
  border-radius: 12px;
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto auto;
  row-gap: 1rem;
  margin: 1rem .5rem;
  padding: 1rem 0.75rem;
}
.G1l4RvsTjaa5ES8mlH9NK > *:nth-child(2) {
  grid-column: 1;
  grid-row: 2;
}
.G1l4RvsTjaa5ES8mlH9NK  > *:nth-child(3) {
  grid-column: 1;
  grid-row: 3;
}
.G1l4RvsTjaa5ES8mlH9NK  > *:nth-child(4) {
  grid-column: 2;
  grid-row: 1;
}
.G1l4RvsTjaa5ES8mlH9NK  > *:nth-child(5) {
  grid-column: 2;
  grid-row: 2;
}
.G1l4RvsTjaa5ES8mlH9NK > *:nth-child(6) {
  grid-column: 2;
  grid-row: 3;
}
._12wI-ncc5aWwKI_YIQb4Yg {
  background-color: #ffffff;
  border-radius: 12px;
  padding: 16px;
}
._12wI-ncc5aWwKI_YIQb4Yg > hr {
  border: none;
  border-bottom: 1px solid #DEDEDE;
  margin: 12px 0;
}
._12wI-ncc5aWwKI_YIQb4Yg + ._12wI-ncc5aWwKI_YIQb4Yg {
  margin-top: 16px;
}
._12wI-ncc5aWwKI_YIQb4Yg > ul > li:not(:last-child) {
  margin-bottom: 12px;
}
._12wI-ncc5aWwKI_YIQb4Yg > ul > li > dl > dt {
  color: rgba(0,0,0,.4);
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.5px;
  margin-bottom: 8px;
}
._12wI-ncc5aWwKI_YIQb4Yg > ul > li > dl > dd {
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.5px;
}
._12wI-ncc5aWwKI_YIQb4Yg > ul > li > dl > dd > span {
  display: inline-block;
  vertical-align: middle;
}
._12wI-ncc5aWwKI_YIQb4Yg > ul > li > dl > dd > img {
  display: inline-block;
  vertical-align: middle;
  width: 20px;
  height: 20px;
}
._1bf20clNpwcBiih9sHq9ft {
  margin-top: 12px;
}
._1bf20clNpwcBiih9sHq9ft ._27PUKRagp7FI__MrxRb_xx {
  padding: 12px;
  background: #ddd;
  border-radius: 12px;
  font-weight: bold;
  font-size: 12px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 0.5px;
  margin-bottom: 12px;
}
._1bf20clNpwcBiih9sHq9ft ._27PUKRagp7FI__MrxRb_xx.vxLcCTe098OOTPi6uVeq5 {
  background-color: #05944F;
  color: white;
}
._1bf20clNpwcBiih9sHq9ft ._27PUKRagp7FI__MrxRb_xx.KI7KezAqzERpTntyEsbUr {
  background-color: #FFC043;
  color: white;
}
._1bf20clNpwcBiih9sHq9ft ._27PUKRagp7FI__MrxRb_xx.KrpUYzlBpgOOSt7B6SG6r {
  background-color: #E11900;
  color: white;
}
._1bf20clNpwcBiih9sHq9ft ._27PUKRagp7FI__MrxRb_xx._1jCHS7wUx4KTIa4zuKrmQQ {
  background-color: #1F1F1F;
  color: white;
}
._1bf20clNpwcBiih9sHq9ft ._3JrhCXi_dZGPlv1fKdi_Ho {
  padding: 12px;
  background: #EFF3FE;
  border-radius: 8px;
  display: flex;
}
._1bf20clNpwcBiih9sHq9ft ._3JrhCXi_dZGPlv1fKdi_Ho > img {
  width: 24px;
  height: 24px;
}
._1bf20clNpwcBiih9sHq9ft ._3JrhCXi_dZGPlv1fKdi_Ho > p {
  color: #545454;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.5px;
    margin-left: 10px;
}
._12wI-ncc5aWwKI_YIQb4Yg > h3 {
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.5px;
  color: rgba(0, 0, 0, 0.4);
}
.kSPVSE81JdXQsmU5EqQmm {
  margin-top: 16px;
  display: flex;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.5px;
  color: #37393A;
}
.kSPVSE81JdXQsmU5EqQmm ._1cpYP_2MPsa7p5L3OW7Fp- {
  flex: 1;
}
.kSPVSE81JdXQsmU5EqQmm ._1cpYP_2MPsa7p5L3OW7Fp- > div:not(:last-child) {
  margin-bottom: 8px;
}
.kSPVSE81JdXQsmU5EqQmm ._1cpYP_2MPsa7p5L3OW7Fp- > h4 {
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.5px;
  color: #37393A;
  margin-bottom: 8px;
}
._1jRuqeLCJLz2c5CBlM1B-o {
  padding: 12px;
  background: #F6F6F6;
  border-radius: 8px;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.5px;
  margin-top: 16px;
}
._1jRuqeLCJLz2c5CBlM1B-o a {
  font-weight: bold;
}
._3ohpkbGepcBkwV-eThhaCd > li > dl > dt {
  font-weight: bold;
  font-size: 16px !important;
  line-height: 24px !important;
  letter-spacing: 0.5px !important;
  color: #37393A !important;
}
._3ohpkbGepcBkwV-eThhaCd > li > dl > dd {
  font-weight: normal !important;
  font-size: 16px !important;
  line-height: 24px !important;
  letter-spacing: 0.5px !important;
  color: #37393A;
}
._1escsM_CAA1AckeUYoI7io {
  margin-top: 16px;
  width: 100%;
  border-radius: 8px;
  font-weight: bold;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0.3px;
  text-transform: uppercase;
}
._26L5Z1Qv-sBdbfwwM6wkuz {
  background-color: #F1998E;
  border-radius: 0.25rem;
  padding: 1.5rem;
  color: #FFFFFF;
  font-size: 0.75rem;
}
._26L5Z1Qv-sBdbfwwM6wkuz > p {
  display: flex;
}
._26L5Z1Qv-sBdbfwwM6wkuz > span {
  margin-top: 1rem;
}
._15Fz4px92pA3KN_-LtJjAT {
  border-bottom: .1em solid var(--grey-soft);
}
.kg_g_vSCL9OJ_elcYUlD1 {
  align-items: center;
  background-color: var(--base-primary-soft);
  border: 1px solid var(--base-primary-light);
  border-radius: .5rem;
  color: var(--base-primary-main);
  display: flex;
  padding: 1rem;
  margin: 2rem 0;
}
._3-TNvIsell_97DHEA-7f3Y {
  color: var(--base-primary-main);
  display: flex;
  font-weight: 600;
  justify-content: center;
}
.VszTwHXuHgBoVYRKHfpAy {
  margin: 0 auto;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.VszTwHXuHgBoVYRKHfpAy > a {
  border: 1px solid var(--grey-soft);
  border-radius: .5rem;
  color: var(--base-primary-main);
  display: flex;
  font-weight: 600;
  justify-content: center;
  padding: .5rem;
}
._2WVGZaHjUmM-ApCt86gE-w {
  background-color: #F6F6F6;
}
._2WVGZaHjUmM-ApCt86gE-w > div {
  min-height: auto;
}
._2WVGZaHjUmM-ApCt86gE-w > h2 {
  margin: 0;
  color: #37393A;
  font-weight: 600;
  letter-spacing: 0.01em;
}
.M1zqN_g4GjNrlnmNIAH17 {
  background-color: #EAF5FA;
  border-radius: 0.5rem;
  display: grid;
  grid-template-rows: auto;
  row-gap: .5rem;
  margin: .5rem auto;
  padding: 1rem 0.75rem;
}
._3QMh6QMDpoMsvD4JHWPd_g {
  text-align: center;
  width: 50%;
  margin: 0 auto;
}
._3QMh6QMDpoMsvD4JHWPd_g > p {
  font-size: 16px;
  line-height: 20px;
  color: var(--base-primary-main);
}
._3zZpGVo4NnabQxAfjRlGr- {
  color: var(--base-primary-main);
  margin: 0 auto;
  font-size: 1rem;
  line-height: 18px;
  text-align: center;
  letter-spacing: 0.0025em;
}
._3zZpGVo4NnabQxAfjRlGr- > span {
  font-weight: 500;
  cursor: pointer;
}
.gbfqWGvLcR5sine4i9vXi {
  margin: 1rem;
}
.tlFRHKD-hg67pUDqg2rQc > img {
  -webkit-animation: FpFMGfY8j6ijURVCkTudV .7s infinite;
          animation: FpFMGfY8j6ijURVCkTudV .7s infinite;
}
._1bzwE45mJkM0LpbuwNljBy {
  margin: 0;
}
._1bzwE45mJkM0LpbuwNljBy > hr, ._2WVGZaHjUmM-ApCt86gE-w > hr {
  border-top: 1px #EEEEEE;
  margin: 1rem 0;
}
._1bzwE45mJkM0LpbuwNljBy > hr {
  margin: 0;
}
._1bzwE45mJkM0LpbuwNljBy > h2 {
  font-size: 16px;
  line-height: 24px;
  color: #37393A;
  margin: 16px 20px;
}
._2a6NhJsC_pOSVUUwEX7wke {
  margin: auto;
  text-align: center;
  width: 100%;
}
._2a6NhJsC_pOSVUUwEX7wke > img {
  width: 13.7rem;
}
._2a6NhJsC_pOSVUUwEX7wke > a > button {
  border-radius: 8px;
  margin: 1rem 0;
  width: 100%;
}
.TPYEqwP78FBTZizIS9xON {
  padding: 0;
}
._2ySHqd3T9uTb_b32bqGFUg {
  padding-bottom: 0;
}

@media only screen and (max-width: 480px) {
  ._1AdmitGV55vdT8fX4rRzjt {
    background-repeat: no-repeat;
    background-image: url(/assets/banner-home-vaccine-m.svg);
    background-size: 100%;
    background-position: top;
    margin: 0 calc(-24rem / 16);
    padding: 1rem;
    min-height: calc(385rem/16);
    margin-top: 120px;
  }
  ._1AdmitGV55vdT8fX4rRzjt > div > h1 {
    font-size: 1.3rem;
    margin: 0 0 1rem 0;
    line-height: calc(100vw * 28 / 360);
  }
  ._1AdmitGV55vdT8fX4rRzjt > button {
    font-size: calc(100vw * 14 / 360);
    padding: 1rem;
  }
  ._1AdmitGV55vdT8fX4rRzjt > button > img {
    min-height: 1rem;
  }
  .gYegoh5Y18G042FArglTm > .uQ-eVfNneBNz95IEmlPI {
    margin: calc(-123rem / 16) 0 0;
    padding: 0;
  }
  ._1AdmitGV55vdT8fX4rRzjt > div,
  .M1zqN_g4GjNrlnmNIAH17 {
    width: 100%;
  }
  ._2WVGZaHjUmM-ApCt86gE-w {
    margin: 0;
    max-width: unset;
    max-height: 80vh;
    overflow-y: scroll;
  }
  ._2WVGZaHjUmM-ApCt86gE-w p {
    font-size: 14px;
  }
  ._3QMh6QMDpoMsvD4JHWPd_g {
    width: 85%;
  }
  ._3QMh6QMDpoMsvD4JHWPd_g > p {
    font-size: calc(100vw * 12 / 360);
    line-height: calc(100vw * 20 / 360);
  }
}

/* Animation */
@-webkit-keyframes FpFMGfY8j6ijURVCkTudV {
  0%{
      transform: translateX(0);
  }
  25%{
      transform: translateX(3px);
  }
  25%{
      transform: translateX(5px);
  }
  75%{
      transform: translateX(3px);
  }
  to{
      transform: translateX(0);
  }
}
@keyframes FpFMGfY8j6ijURVCkTudV {
  0%{
      transform: translateX(0);
  }
  25%{
      transform: translateX(3px);
  }
  25%{
      transform: translateX(5px);
  }
  75%{
      transform: translateX(3px);
  }
  to{
      transform: translateX(0);
  }
}
._3HRK01VUadb7bsKzNr0nCP {
  position: relative;
  margin: auto;
  width: 100%;
}
.APKXLvA9TKRd5tFl1ouEd {
  box-sizing: border-box;
  background-color: #EEEEEE;
  background-image: url(/assets/ic-search.svg);
  background-position: 0.825rem 1rem;
  background-size: auto 50%;
  background-repeat: no-repeat;
  border: none;
  border-radius: .5rem;
  height: 4rem;
  margin: 1rem 0;
  padding: 1rem 8rem 1rem 3.5rem;
  width: 100%;
}
.APKXLvA9TKRd5tFl1ouEd:focus {
  outline: none;
}
.APKXLvA9TKRd5tFl1ouEd::-webkit-input-placeholder {
  font-size: 1rem;
  color: #BDBDBD;
}
.APKXLvA9TKRd5tFl1ouEd:-moz-placeholder {
  color: #BDBDBD,
}
.APKXLvA9TKRd5tFl1ouEd:-ms-input-placeholder {
  color: #BDBDBD,
}
._2B21MnhWW7_wYBDp5smN5U {
  min-width: unset;
  padding: 1rem 2rem;
  position: absolute;
  right: 1rem;
  top: 1.5rem;
}

.vNSowd-UWsUx74Bgdtye2 {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: url(/assets/ic-chevron-down.svg);
  background-color: #EEEEEE;
  border: none;
  cursor: pointer;
  background-position: calc(100% - 0.75rem);
  background-repeat: no-repeat;
  border-radius: 4px;
  box-shadow: none;
  color: var(--grey-dark);
  display: block;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin-top: .5rem;
  outline: none;
  padding: 12px 16px;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  width: 100%;
}

.vNSowd-UWsUx74Bgdtye2:not(._2xylxb4xFz9Ots95CJ0O1o):focus {
  border-color: #808080;
  box-shadow: 0 0 0 0.0625rem #808080;
  color: #333435;
}

.vNSowd-UWsUx74Bgdtye2:disabled {
  background-color: #e5e5e5 !important;
  color: #999999 !important;
}

.RQ86vXfw41trRgKuV9FBq {
  color: #b2b4b5;
}

.vNSowd-UWsUx74Bgdtye2._2xylxb4xFz9Ots95CJ0O1o {
  border-color: #E11900;
}

.vNSowd-UWsUx74Bgdtye2 + small._2xylxb4xFz9Ots95CJ0O1o {
  color: #E11900;
  margin-top: 0.25rem;
}

._1d2Voe6jshVuT90EQcnA7g {
  color: #424242;
  font-size: 1rem;
  font-weight: 500;
}

._2Rm4XR25r0ngqp9i7x7elh {
  display: grid;
  -moz-column-gap: 1rem;
       column-gap: 1rem;
}
._2Rm4XR25r0ngqp9i7x7elh > select {
  background-color: #EEEEEE;
  border: none;
  cursor: pointer;
}

@media only screen and (max-width: 480px) {
  ._2Rm4XR25r0ngqp9i7x7elh > select {
    margin: 1rem 0;
    width: 100%;
  }
}

._2qlC9x5l6dXlhqeIKXTX-9 {
  background-color: #FAFAFA;
  display: flex;
  flex-direction: column;
  margin: 3rem calc(-220rem / 16);
  padding: calc(32rem / 16) calc(220rem / 16) 0;
}

._2qlC9x5l6dXlhqeIKXTX-9 > ._8HKlOC8uQu0FjD8bF86Vh {
  align-self: center;
  color: var(--base-primary-main);
  font-weight: 500;
  margin-bottom: 2.5rem;
}

._2WHNjfdDE8iiDnDMmux4fZ {
  display: flex;
  padding-right: 3rem !important;
}
._2WHNjfdDE8iiDnDMmux4fZ > h3 {
  font-weight: 500;
  margin: auto;
}
._2WHNjfdDE8iiDnDMmux4fZ > img {
  cursor: pointer;
  right: 1rem;
  position: absolute;
  top: 1rem;
}
._3mu4AhXam1XjOZTS44P-fw {
  min-height: 70vh;
  overflow-x: hidden;
}
._3mu4AhXam1XjOZTS44P-fw > section {
  display: flex;
  justify-content: space-between;
}
._3mu4AhXam1XjOZTS44P-fw > section > div > * {
  margin: .5rem 0;
}
._3mu4AhXam1XjOZTS44P-fw > section > div > button,
._3mu4AhXam1XjOZTS44P-fw > section > div > button:hover {
  background-color: var(--base-primary-soft);
  color: var(--base-primary-main);
  min-width: unset;
  padding: .5rem;
}
._2ChpCY4N1gimwpRP83NmAN {
  border-bottom: 1px solid var(--grey-soft);
  margin: 1rem -1.5rem;
}
._pIqZPg6jWh8opu2slZs- {
  margin: .5rem 0;
}
._2Vm7nzmWlJIlZlGJ2Uhlej {
  border: none !important;
  display: block !important;
  margin: auto;
  text-align: center;
  width: 70%;
}
@media only screen and (max-width: 480px) {
  ._3mu4AhXam1XjOZTS44P-fw > h3,
  ._3mu4AhXam1XjOZTS44P-fw > section > div > p,
  ._3mu4AhXam1XjOZTS44P-fw > section > div > button,
  ._2Vm7nzmWlJIlZlGJ2Uhlej {
    font-size: calc(100vw * 14 / 360);
  }
  ._2Vm7nzmWlJIlZlGJ2Uhlej {
    width: 100%;
  }
  ._3mu4AhXam1XjOZTS44P-fw > section {
    display: block;
  }
  ._2qlC9x5l6dXlhqeIKXTX-9 > ._8HKlOC8uQu0FjD8bF86Vh {
    margin-bottom: 1rem;
    font-size: calc(17rem / 16);
    width: auto;
  }
}

._2HnmwxoJNNCQqyBlr138SG {
  background-color: #FAFAFA;
  display: flex;
  flex-direction: column;
  margin: 0 calc(-220rem / 16);
  padding: calc(80rem / 16) calc(220rem / 16);
}

._2HnmwxoJNNCQqyBlr138SG > ._1c34rFKVJZzSh8Xe9xuyY0 {
  align-self: center;
  color: var(--base-primary-main);
  font-weight: 500;
  margin-bottom: 2.5rem;
}

._2HnmwxoJNNCQqyBlr138SG > .e4zcEyOmi4dTMT_s8VSY8 {
  display: flex;
  justify-content: space-between;
}

.e4zcEyOmi4dTMT_s8VSY8 > div {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: calc(280rem / 16);
}

.e4zcEyOmi4dTMT_s8VSY8 > div > img {
  height: calc(200rem / 16);
  margin-bottom: 2rem;
}

.e4zcEyOmi4dTMT_s8VSY8 > div > .pzulcsHwTqngiZigYotnp {
  color: var(--base-primary-main);
  margin-bottom: 1.5rem;
}

@media only screen and (max-width: 480px) {
  ._2HnmwxoJNNCQqyBlr138SG {
    margin: 0 calc(-24rem / 16);
    padding: calc(24rem / 16);
  }
  
  ._2HnmwxoJNNCQqyBlr138SG > ._1c34rFKVJZzSh8Xe9xuyY0 {
    font-size: calc(17rem / 16);
    font-weight: 500;
    margin-bottom: 1.5rem;
  }
  
  ._2HnmwxoJNNCQqyBlr138SG > .e4zcEyOmi4dTMT_s8VSY8 {
    flex-direction: column;
  }
  
  .e4zcEyOmi4dTMT_s8VSY8 > div {
    text-align: left;
    width: 100%;
  }

  .e4zcEyOmi4dTMT_s8VSY8 > div:not(:last-child) {
    margin-bottom: 1.5rem;
  }
  
  .e4zcEyOmi4dTMT_s8VSY8 > div > img {
    margin-bottom: 1rem;
  }

  .e4zcEyOmi4dTMT_s8VSY8 > div > .pzulcsHwTqngiZigYotnp {
    font-size: calc(15rem / 16);
    font-weight: 500;
    margin-bottom: 0.5rem;
  }

  .e4zcEyOmi4dTMT_s8VSY8 > div > .S3AinZGrrwjuDvjU-c8pR {
    font-size: calc(13rem / 16);
    letter-spacing: 0.01em;
    line-height: 1.25rem;
  }
}
._3e5YxNvapjPemOEhDzCmZM {
  margin: 0 calc(-220rem / 16);
  padding: calc(100rem / 16) calc(220rem / 16) calc(80rem / 16);
}

.dX3URcmZd2kr94_ukbuuJ > :first-child {
  color: var(--base-primary-dark);
  margin-bottom: calc(23rem / 16);
}

.dX3URcmZd2kr94_ukbuuJ > div {
  align-items: flex-start;
  display: flex;
}

.dX3URcmZd2kr94_ukbuuJ > div:last-child {
  margin-top: 2.5rem;
}

.dX3URcmZd2kr94_ukbuuJ > div > img,
.dX3URcmZd2kr94_ukbuuJ > div iframe {
  border-radius: calc(5rem / 16);
  margin-right: calc(80rem / 16);
  width: calc(460rem / 16);
}


.dX3URcmZd2kr94_ukbuuJ > div iframe {
  height: calc(294rem / 16);
}

.dX3URcmZd2kr94_ukbuuJ > div > div > .eSWCv3sg2k-xVMtKgPdKG {
  color: var(--base-primary-main);
  margin-bottom: 1.25rem;
}

.dX3URcmZd2kr94_ukbuuJ > div > div > .HA1f4QmY6bDlD8hKUx8YC {
  text-align: justify;
}
.dX3URcmZd2kr94_ukbuuJ > div > div > ._3jgSk9UZMFmyqWMoTqWzS- {
  display: flex;
  justify-content: space-around;
  width: calc(272rem/16);
  padding: 0.5rem 0.9rem;
  background: var(--base-primary-soft);
  border-radius: 0.5rem;
  color: var(--base-primary-main);
}
.dX3URcmZd2kr94_ukbuuJ > div > div > ._3jgSk9UZMFmyqWMoTqWzS- > p {
  display: flex;
  align-items: center;
}
._3jgSk9UZMFmyqWMoTqWzS- > p > img {
  width: 23px;
  height: 32px;
  margin-right: 1rem;
}

@media only screen and (max-width: 480px) {
  ._3e5YxNvapjPemOEhDzCmZM {
    margin: 0 calc(-24rem / 16);
    padding: 5.5rem calc(24rem / 16) calc(24rem / 16);
  }
  
  .dX3URcmZd2kr94_ukbuuJ > :first-child {
    font-size: calc(20rem / 16);
    font-weight: 500;
    margin-bottom: 1rem;
  }
  
  .dX3URcmZd2kr94_ukbuuJ > div {
    flex-direction: column;
  }
  
  .dX3URcmZd2kr94_ukbuuJ > div:last-child {
    margin-top: calc(24rem / 16);
  }
  
  .dX3URcmZd2kr94_ukbuuJ > div > img,
  .dX3URcmZd2kr94_ukbuuJ > div iframe {
    border-radius: calc(5rem / 16);
    margin-bottom: 1rem;
    margin-right: 0;
  }

  .dX3URcmZd2kr94_ukbuuJ > div > img {
    width: 100%;
  }

  .dX3URcmZd2kr94_ukbuuJ > div iframe {
    height: calc(200rem / 16);
    width: calc(312rem /16);
  }
  
  .dX3URcmZd2kr94_ukbuuJ > div > div > .eSWCv3sg2k-xVMtKgPdKG {
    font-size: calc(17rem / 16);
    font-weight: 500;
    margin-bottom: calc(8rem / 16);
  }
  
  .dX3URcmZd2kr94_ukbuuJ > div > div > .HA1f4QmY6bDlD8hKUx8YC {
    font-size: calc(13rem / 16);
    letter-spacing: 0.01em;
    line-height: 1.25rem;
    text-align: left;
  }

  .dX3URcmZd2kr94_ukbuuJ > div > div > ._3jgSk9UZMFmyqWMoTqWzS- {
    width: 100%;
  }
}
._3ESwQz6JLnQOX_iqd93OXq {
  margin-top: 16px;
}

.J9E6K4Ebg9m1A5NZDDoqX {
  letter-spacing: 0.3px;
}
.J9E6K4Ebg9m1A5NZDDoqX._3giZ7YH12GR9fRaJq8bntv {
  background-color: var(--base-primary-soft);
  color: var(--base-primary-main);
}
.J9E6K4Ebg9m1A5NZDDoqX:first-child {
  margin-top: 8px;
}
.J9E6K4Ebg9m1A5NZDDoqX:not(:last-child) {
  margin-bottom: 8px;
}

.DibraY0h42nE45JEXxVH- {
  background-color: transparent !important;
  border-bottom: 1px solid #757879 !important;
  border-radius: 0 !important;
  margin-bottom: 16px;
  position: relative;
  z-index: 2;
}
.DibraY0h42nE45JEXxVH-::-moz-placeholder {
  opacity: 0;
  visibility: hidden;
}
.DibraY0h42nE45JEXxVH-:-ms-input-placeholder {
  opacity: 0;
  visibility: hidden;
}
.DibraY0h42nE45JEXxVH-::placeholder {
  opacity: 0;
  visibility: hidden;
}
.DibraY0h42nE45JEXxVH-[class*="error"] {
  background-color: transparent !important;
  border: none !important;
  border-bottom: 1px solid #E11900 !important;
  color: #E11900 !important;
}

._1SS5fbgPg_nsODID7ZfRKL {
  position: relative;
}
.GG57hpEhp9LzUVrAPRmZG {
  background-color: white;
  position: absolute;
  top: 1.25rem;
  left: .75rem;
  text-transform: uppercase;
  color: var(--grey-dark-new);
  transition: all ease-in .2s;
  z-index: 2;
}
.GG57hpEhp9LzUVrAPRmZG._2TulQdbPr7ne2qIKBg6xZR,
.DibraY0h42nE45JEXxVH-:focus ~ .GG57hpEhp9LzUVrAPRmZG {
  top: 0;
  font-size: calc(12rem / 16);
}
.DibraY0h42nE45JEXxVH-[class*="error"] ~ .GG57hpEhp9LzUVrAPRmZG {
  color: #E11900;
}
._3jVHNtE_RVrCWrZahve-dJ {
  border-radius: 8px !important;
}
.i-Ju5wARZdntQwur1nOx7 {
  margin-bottom: 16px;
  padding-top: 0;
  padding-left: 16px;
  padding-right: 16px;
}

.EgfrbWFy5snkL8Ln0H_9l {
  padding-left: 16px;
  padding-right: 16px;
}

.EgfrbWFy5snkL8Ln0H_9l > h2 {
  font-weight: 700;
  font-size: calc(16rem / 16);
  line-height: calc(24rem / 16);
  letter-spacing: .3px;
}

.CYTKZWkaR25DpJjldYsOO {
  font-size: calc(14rem / 16);
  line-height: calc(22rem / 16);
}

.ShKdwq9kdV___waDe3UF2 {
  margin-top: calc(24rem / 16);
}

@media only screen and (min-width: 481px) {
  ._3jVHNtE_RVrCWrZahve-dJ {
    max-width: 400px;
  }
}
._3T-TvoDqaaewYWcAZsH2Yr {
  border-radius: 8px !important;
}
._1dEmf3xttmf6NThJSji1RE {
  margin-bottom: 16px;
  padding-top: 0;
  padding-left: 16px;
  padding-right: 16px;
}

._3BwtqiDeVaNrnVnm6WXV5G {
  padding-left: 16px;
  padding-right: 16px;
  text-align: center;
}

._3BwtqiDeVaNrnVnm6WXV5G > h2 {
  font-weight: 700;
  font-size: calc(16rem / 16);
  line-height: calc(24rem / 16);
  letter-spacing: .3px;
}

._2YFV-Jjf0zPGr8Kaa6yxqm {
  font-size: calc(14rem / 16);
  line-height: calc(22rem / 16);
}

._1Gu-QJhnkmCyBBxy-Syexh {
  margin-top: calc(24rem / 16);
}

@media only screen and (min-width: 481px) {
  ._3T-TvoDqaaewYWcAZsH2Yr {
    max-width: 400px;
  }

  ._1kvCAOV2JAMH2R7YhZnKOf {
    text-align: center;
    margin: 40px auto 16px;
  }

  .KzC0nLZGCX_8rquFypN0u {
    cursor: pointer;
    border: none;
    padding: 0;
    background-color: rgba(0,0,0,.24);
    width: 28px;
    height: 28px;
    border-radius: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 16px;
    right: 16px;
  }
  .KzC0nLZGCX_8rquFypN0u > img {
    width: 16px;
  }
}
._3k3f8erd63yOT0fo7A3jc4 {
  border-radius: 8px !important;
}
.Pqu5HG93a4P_9knhgGTyq {
  margin-bottom: 16px;
  padding-top: 0;
  padding-left: 16px;
  padding-right: 16px;
}

._2o7mcItVMc3jkAsHVYOYE- {
  padding-left: 16px;
  padding-right: 16px;
  text-align: center;
}

._2o7mcItVMc3jkAsHVYOYE- > h2 {
  font-weight: 700;
  font-size: calc(16rem / 16);
  line-height: calc(24rem / 16);
  letter-spacing: .3px;
}

.ZBSzn5dXgL7kXDre8PycG {
  font-size: calc(14rem / 16);
  line-height: calc(22rem / 16);
}

._1LpGQAQzmMYB2o88UQz_c6 {
  margin-top: calc(24rem / 16);
}

@media only screen and (min-width: 481px) {
  ._3k3f8erd63yOT0fo7A3jc4 {
    max-width: 400px;
  }

  ._2M-TAKmUqpJBQr3hfpCu9z {
    text-align: center;
    margin: 40px auto 16px;
  }

  ._3RBVZuL3AEhU4fUUemGaDc {
    cursor: pointer;
    border: none;
    padding: 0;
    background-color: rgba(0,0,0,.24);
    width: 28px;
    height: 28px;
    border-radius: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 16px;
    right: 16px;
  }
  ._3RBVZuL3AEhU4fUUemGaDc > img {
    width: 16px;
  }
}
._1PBjvZkdEbwvbSL4n4rE6b {
  border-radius: 8px !important;
}
._1-6vkFdLtsJJzMOJRYeQm2 {
  margin-bottom: 16px;
  padding-top: 0;
  padding-left: 16px;
  padding-right: 16px;
}

._2wgM2Wx-9q2Q5ReQT_FxUa {
  padding-left: 16px;
  padding-right: 16px;
}

._2wgM2Wx-9q2Q5ReQT_FxUa > h2 {
  font-weight: 700;
  font-size: calc(16rem / 16);
  line-height: calc(24rem / 16);
  letter-spacing: .3px;
}

._2f7gxeFE8xg25hrMZyK0sv {
  font-size: calc(14rem / 16);
  line-height: calc(22rem / 16);
}

._3li8NawsJfyDr_3rFAZkiE {
  margin-top: calc(24rem / 16);
}

._2FIo6TF5KXArurNNyS9G1d {
  margin-top: calc(10rem / 16);
  background-color: var(--base-primary-soft);
  color: var(--base-primary-main);
}
._2FIo6TF5KXArurNNyS9G1d:hover,
._2FIo6TF5KXArurNNyS9G1d:visited,
._2FIo6TF5KXArurNNyS9G1d:active {
  color: white;
}

@media only screen and (min-width: 481px) {
  ._1PBjvZkdEbwvbSL4n4rE6b {
    max-width: 400px;
  }
}
._3vSBI8nMFzcnw5e0QlEQXh {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

._3dsBFg53_L0biY1toyRiJ8 > h2 {
  font-weight: bold;
  font-size: calc(16rem / 16);
  line-height: 24px;
  letter-spacing: .3px;
  color: var(--grey-dark-new);
  margin: 8px 0 0;
}

@media only screen and (min-width: 481px) {
  ._1c76NXTQIh4uVm4OMX0l4l {
    border-radius: 16px;
    max-width: 400px;
  }
}
.gUOgeDb7YD-4XseMGq_OE {
  text-align: center;
  margin-bottom: 16px;
}
._3KzJwAMlK6Rf8VIQt8jPfw {
  text-align: center;
  margin-bottom: 8px;
}
._13A1NVGMa7vCtSoLEME5i_ {
  margin-top: 16px;
}

.VqTeNvBF5DzhtKWFzwDx2 {
  letter-spacing: 0.3px;
}
.VqTeNvBF5DzhtKWFzwDx2.quURI4AZnsjZ9XmMS6VG5 {
  background-color: var(--base-primary-soft);
  color: var(--base-primary-main);
}
.VqTeNvBF5DzhtKWFzwDx2:first-child {
  margin-top: 8px;
}
.VqTeNvBF5DzhtKWFzwDx2:not(:last-child) {
  margin-bottom: 8px;
}

._1ObjQknQf8j88UcZrnYEPZ {
  background-color: transparent !important;
  border-bottom: 1px solid #757879 !important;
  border-radius: 0 !important;
  margin-bottom: 16px;
  position: relative;
  z-index: 2;
}
._1ObjQknQf8j88UcZrnYEPZ::-moz-placeholder {
  opacity: 0;
  visibility: hidden;
}
._1ObjQknQf8j88UcZrnYEPZ:-ms-input-placeholder {
  opacity: 0;
  visibility: hidden;
}
._1ObjQknQf8j88UcZrnYEPZ::placeholder {
  opacity: 0;
  visibility: hidden;
}
._1ObjQknQf8j88UcZrnYEPZ[class*="error"] {
  background-color: transparent !important;
  border: none !important;
  border-bottom: 1px solid #E11900 !important;
  color: #E11900 !important;
}

._1GvBH0JBmNi-FBE7I0PFWu {
  position: relative;
}
._1GvBH0JBmNi-FBE7I0PFWu + ._1GvBH0JBmNi-FBE7I0PFWu {
  margin-top: 20px;
}
._1GvBH0JBmNi-FBE7I0PFWu:first-child {
  border-bottom: 1px solid #757879;
}
._1eVINLFA7yQjGtjAnvIXXM {
  position: absolute;
  top: 1.25rem;
  left: .75rem;
  color: var(--grey-dark-new);
  transition: all ease-in .2s;
  z-index: 1;
}
._1eVINLFA7yQjGtjAnvIXXM._3t8toSz82IaPEaOV7b4YB4,
._1ObjQknQf8j88UcZrnYEPZ:focus ~ ._1eVINLFA7yQjGtjAnvIXXM {
  top: 0;
  font-size: calc(10rem / 16);
}
._1ObjQknQf8j88UcZrnYEPZ[class*="error"] ~ ._1eVINLFA7yQjGtjAnvIXXM {
  color: #E11900;
}
._1cgPIVlJcbkFx5x_kioedZ {
  font-size: calc(10rem / 16);
  margin-left: 12px;
  margin-right: 12px;
}
._12aHqHM9nC6MLQrUkkzihS {
  margin: 8px 12px;
  font-size: calc(14rem / 16);
  color: var(--grey-dark-new);
}
._1J-BJnhbt9AjhE92WlNOQ2 {
  text-align: center;
  margin-bottom: 16px;
}
._3g9ZdxcxpRqBgHtbKHzwjn {
  text-align: center;
  margin-bottom: 8px;
  font-weight: 500;
}
._3vuCwwPsQjmtpXcDNzN4Xv {
  text-align: center;
  margin-bottom: 8px;
}
