.xoXlL-QsaTBW8wbsncapt {
  padding: 0 1rem;
  min-width: unset !important;
}
._15HocoaP9oXZo4BqsovT6k {
  background-color: var(--base-green) !important;
}
._1ZSAwZPcGZZL4tI_a196yZ {
  background-color: var(--base-secondary-middle) !important;
}
._2g0V0DgvaoAmIudFQ2FQSB {
  align-items: center;
  color: #ffffff;
  display: inline-flex;
  justify-content: normal;
  line-height: 1rem;
}
.A7pSgUqdqiHhB-FH0hzdz{
  top: 5rem !important;
}

