/* roboto-100normal - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-display: swap;
  font-weight: 100;
  src:
    local('Roboto Thin '),
    local('Roboto-Thin'),
    url(/roboto-latin-100.woff2) format('woff2'), 
    url(/roboto-latin-100.woff) format('woff'); /* Modern Browsers */
}

/* roboto-100italic - latin */
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-display: swap;
  font-weight: 100;
  src:
    local('Roboto Thin italic'),
    local('Roboto-Thinitalic'),
    url(/roboto-latin-100italic.woff2) format('woff2'), 
    url(/roboto-latin-100italic.woff) format('woff'); /* Modern Browsers */
}

/* roboto-300normal - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-display: swap;
  font-weight: 300;
  src:
    local('Roboto Light '),
    local('Roboto-Light'),
    url(/roboto-latin-300.woff2) format('woff2'), 
    url(/roboto-latin-300.woff) format('woff'); /* Modern Browsers */
}

/* roboto-300italic - latin */
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-display: swap;
  font-weight: 300;
  src:
    local('Roboto Light italic'),
    local('Roboto-Lightitalic'),
    url(/roboto-latin-300italic.woff2) format('woff2'), 
    url(/roboto-latin-300italic.woff) format('woff'); /* Modern Browsers */
}

/* roboto-400normal - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src:
    local('Roboto Regular '),
    local('Roboto-Regular'),
    url(/roboto-latin-400.woff2) format('woff2'), 
    url(/roboto-latin-400.woff) format('woff'); /* Modern Browsers */
}

/* roboto-400italic - latin */
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-display: swap;
  font-weight: 400;
  src:
    local('Roboto Regular italic'),
    local('Roboto-Regularitalic'),
    url(/roboto-latin-400italic.woff2) format('woff2'), 
    url(/roboto-latin-400italic.woff) format('woff'); /* Modern Browsers */
}

/* roboto-500normal - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-display: swap;
  font-weight: 500;
  src:
    local('Roboto Medium '),
    local('Roboto-Medium'),
    url(/roboto-latin-500.woff2) format('woff2'), 
    url(/roboto-latin-500.woff) format('woff'); /* Modern Browsers */
}

/* roboto-500italic - latin */
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-display: swap;
  font-weight: 500;
  src:
    local('Roboto Medium italic'),
    local('Roboto-Mediumitalic'),
    url(/roboto-latin-500italic.woff2) format('woff2'), 
    url(/roboto-latin-500italic.woff) format('woff'); /* Modern Browsers */
}

/* roboto-700normal - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src:
    local('Roboto Bold '),
    local('Roboto-Bold'),
    url(/roboto-latin-700.woff2) format('woff2'), 
    url(/roboto-latin-700.woff) format('woff'); /* Modern Browsers */
}

/* roboto-700italic - latin */
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-display: swap;
  font-weight: 700;
  src:
    local('Roboto Bold italic'),
    local('Roboto-Bolditalic'),
    url(/roboto-latin-700italic.woff2) format('woff2'), 
    url(/roboto-latin-700italic.woff) format('woff'); /* Modern Browsers */
}

/* roboto-900normal - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-display: swap;
  font-weight: 900;
  src:
    local('Roboto Black '),
    local('Roboto-Black'),
    url(/roboto-latin-900.woff2) format('woff2'), 
    url(/roboto-latin-900.woff) format('woff'); /* Modern Browsers */
}

/* roboto-900italic - latin */
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-display: swap;
  font-weight: 900;
  src:
    local('Roboto Black italic'),
    local('Roboto-Blackitalic'),
    url(/roboto-latin-900italic.woff2) format('woff2'), 
    url(/roboto-latin-900italic.woff) format('woff'); /* Modern Browsers */
}


.dVGpyTanS7retuMJD4DGN {
  align-items: center;
  background: #ffffff;
  border-bottom: 1px solid var(--grey-light);
  display: flex;
  height: var(--header-height);
  justify-content: space-between;
  left: 0;
  padding: 0 calc(220rem / 16);
  position: fixed;
  top: 48px;
  transition: top 0.3s;
  width: 100%;
  z-index: 3;
}

._1xAt_nDNayHLGnTPzC_hzV {
  top: 0;
}

.dVGpyTanS7retuMJD4DGN > a {
  display: flex;
}

.dVGpyTanS7retuMJD4DGN > a > img {
  width: calc(152rem / 16);
}

.dVGpyTanS7retuMJD4DGN > nav {
  display: flex;
  justify-content: flex-end;
  flex: 1;
}

.dVGpyTanS7retuMJD4DGN > nav > a {
  color: var(--grey-main);
  margin: 0.5rem .9em;
}

.dVGpyTanS7retuMJD4DGN > nav > div {
  color: var(--grey-main);
  margin: -0.5rem 0;
  max-width: 10rem;
}

.dVGpyTanS7retuMJD4DGN > nav > div > span {
  color: var(--grey-main);
}

.dVGpyTanS7retuMJD4DGN > nav > a:hover,
.dVGpyTanS7retuMJD4DGN > nav > a._1axYHkasfCtv9ftRAqwQRI {
  color: var(--base-primary-main);
  font-weight: 500;
}

._2Dy3XG0UgGeryUp0NPoita {
  background: #ffffff;
  transform: translateX(100%);
  height: 100vh;
  text-align: left;
  position: fixed;
  top: 0;
  left: 0;
  transition: transform 0.3s ease-out;
  width: 100vw;
  z-index: 102;
}
._2Dy3XG0UgGeryUp0NPoita > section {
  height: 100vh;
  overflow: auto;
}
._2Dy3XG0UgGeryUp0NPoita._3KvhxkVHzlSEOlmqBMwW4o {
  transform: translateX(0);
}
._2Dy3XG0UgGeryUp0NPoita > section > a > p,
._2Dy3XG0UgGeryUp0NPoita > section > nav > a > p {
  color: var(--grey-main);
  padding: 1rem;
  border-bottom: 1px solid var(--grey-light);
}
._2Dy3XG0UgGeryUp0NPoita > section > nav > a > p {
  margin-left: 1rem;
}
._2Dy3XG0UgGeryUp0NPoita > section > a._1oCYBtg0MJrGffjaATaNVS > p {
  color: #37393A;
  font-weight: 500;
}
._2Dy3XG0UgGeryUp0NPoita > section > a._1oCYBtg0MJrGffjaATaNVS > span {
  color: var(--base-primary-main);
  font-size: 1.7rem;
  position: absolute;
  right: -20rem;
  top: .45rem;
}
._2Dy3XG0UgGeryUp0NPoita > section > a._1oCYBtg0MJrGffjaATaNVS {
  position: relative;
}
._2Dy3XG0UgGeryUp0NPoita > section > a._1axYHkasfCtv9ftRAqwQRI > p,
._2Dy3XG0UgGeryUp0NPoita > section > nav > a._1axYHkasfCtv9ftRAqwQRI > p,
._2Dy3XG0UgGeryUp0NPoita > section > a._3gqNvvKZE6vbhmTD0iiN2e > p {
  color: var(--base-primary-main);
  font-weight: 500;
}
._2Dy3XG0UgGeryUp0NPoita > section > div {
  align-items: center;
  border-bottom: 1px solid var(--grey-light);
  display: flex;
  height: var(--header-height);
  padding: 0 calc(24rem / 16);
}
._2Dy3XG0UgGeryUp0NPoita > section > div img {
  height: calc(27rem / 16);
  width: auto;
}

._1S0dMwXDqr3jnXA8z4WXaL a {
  display: inline-block;
}
._1S0dMwXDqr3jnXA8z4WXaL a span {
  color: inherit;
  transition: all ease .2s;
}
._1S0dMwXDqr3jnXA8z4WXaL a:hover span {
  color: var(--base-primary-main);
}
._1S0dMwXDqr3jnXA8z4WXaL a:not(:last-child) {
  margin-right: 1rem;
}
._1S0dMwXDqr3jnXA8z4WXaL a img {
  border: 1px solid rgba(0,0,0,.15);
  height: 14px;
  width: 25px;
  display: inline-block;
  margin-right: 5px;
}

@media only screen and (max-width: 480px) {
  ._3uvNXO-kdFrvZzerK595_k {
    display: none;
  }

  .dVGpyTanS7retuMJD4DGN {
    padding: 0 calc(24rem / 16);
    position: fixed;
    top: 60px;
    height: var(--header-height-mobile);
  }
  
  .dVGpyTanS7retuMJD4DGN > a > img {
    height: calc(27rem / 16);
    width: auto;
  }
  
  .dVGpyTanS7retuMJD4DGN > nav {
    display: none;
  }

  ._1S0dMwXDqr3jnXA8z4WXaL a span {
    display: none;
  }
  ._1S0dMwXDqr3jnXA8z4WXaL a:not(:last-child) {
    margin-right: 5px;
  }
  ._1S0dMwXDqr3jnXA8z4WXaL a:last-child img {
    margin-right: 0;
  }
  ._2Dy3XG0UgGeryUp0NPoita > section > div {
    height: 60px;
  }
  ._2Dy3XG0UgGeryUp0NPoita {
    /* top: 60px; */
    top: 0;
  }
  ._2Dy3XG0UgGeryUp0NPoita > section {
    height: calc(100vh - 60px);
  }

  ._1xAt_nDNayHLGnTPzC_hzV {
    top: 0;
  }
}

._1KOS7rbYj3UyQZRpzDfgO9 {
  position: relative;
  /* top: calc(24rem / 16);
  right: 2rem; */
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 1.5rem;
  height: 1.3rem;
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  z-index: 103;
}
._1KOS7rbYj3UyQZRpzDfgO9:focus {
  outline: none;
}
._1KOS7rbYj3UyQZRpzDfgO9 > div {
  width: 1.5rem;
  height: 0.15rem;
  background: #229BD8;
  border-radius: 10px;
  transition: all 0.3s linear;
  position: relative;
  transform-origin: 1px;
}
._1KOS7rbYj3UyQZRpzDfgO9 > div:first-child {
  transform: rotate(0);
}
._1KOS7rbYj3UyQZRpzDfgO9 > div:nth-child(2) {
  opacity: 1;
  transform: translateX(0);
}
._1KOS7rbYj3UyQZRpzDfgO9 > div:nth-child(3) {
  transform: rotate(0);
}
._1KOS7rbYj3UyQZRpzDfgO9._26-ByELV-3_YPPlgFW0Q_S > div:first-child {
  transform: rotate(45deg) translate(0px, -2px);
}
._1KOS7rbYj3UyQZRpzDfgO9._26-ByELV-3_YPPlgFW0Q_S > div:nth-child(2) {
  opacity: 0;
  transform: translateX(20px);
}
._1KOS7rbYj3UyQZRpzDfgO9._26-ByELV-3_YPPlgFW0Q_S > div:nth-child(3) {
  transform: rotate(-45deg) translate(1px, 1px);
}
._2JiA4A24A33cFLmY2myO9n {
  color: var(--palette-text-dark);
}
._16Na19LtKxJpmxEU6DpVJ6 {
  color: inherit
}
.BgwXomlVerSeG9VWA5h3t {
  color: var(--palette-event-disabled-main);
}
._18dtRo_K_kFsF1DNuuCViJ {
  color: var(--palette-event-error-main);
}
._1HMj1OXC9Jm3LkSJ0KAe6m {
  color: var(--palette-event-info-main);
}
._3PXKqtfONZB_a6By77_512 {
  color: var(--palette-base-primary-dark);
}
.h8SmIoQx1B_4ggJdO9RA6 {
  color: var(--palette-base-primary-light);
}
._3vBpWIpOm0h_DOD70mL8QL {
  color: var(--palette-base-primary-main);
}
._20-AJJcVxIV6R-DdteJTVt {
  color: var(--palette-base-secondary-dark);
}
._2_ZbhI9q8jYlXOHj4A5zf7 {
  color: var(--palette-base-secondary-light);
}
._3eLEB6ZV5ZcZ6CPMVkW7ah {
  color: var(--palette-base-secondary-main);
}
.o9kD-jmiXR8kVp1UolG97 {
  color: var(--palette-event-success-main);
}
.qIPAOmGYpKXmpQ5TwaLdy {
  color: var(--palette-event-warning-main);
}
._1BdY6FR-VxlRsybCuGTWoC {
  color: var(--palette-text-light);
}
._3_uWGSjK7f5E2LO7aN9O2Y {
  color: var(--grey-dark-new);
}
._3X-1UPphVhgBe3RIruAqyN {
  font-size: calc(60rem / 16);
  font-style: normal;
  font-weight: 300;
}
._3iCuVPTREDG9DtLOseaIGJ {
  font-size: calc(48rem / 16);
  font-style: normal;
  font-weight: 400;
}
._1QXEUkEdqPOivhTlDXzrgD {
  font-size: calc(34rem / 16);
  font-style: normal;
  font-weight: 400;
}
._3ffxTPvqAwOMdoVI0LK9UW {
  font-size: calc(24rem / 16);
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
}
._2hqmJUN12ME5i3X7Wfo4i6 {
  font-size: calc(20rem / 16);
  font-style: normal;
  font-weight: 500;
}
._2-GwrqIyxtCGpu-Fs-BbBc {
  font-size: calc(16rem / 16);
  font-style: normal;
  font-weight: 400;
}
.zFDFyAQYBuVy-40G4uv3m {
  font-size: calc(14rem / 16);
  font-style: normal;
  font-weight: 500;
}
._2RZd4Fcoxa_6G_DKxyJ0k_ {
  font-size: calc(16rem / 16);
  font-style: normal;
  font-weight: 400;
}
._2dBMxfglVKFMzjOZUfUI7O {
  font-size: calc(14rem / 16);
  font-style: normal;
  font-weight: 400;
}
._3AgfAAtKT6Gui7153tFPq0 {
  font-size: calc(14rem / 16);
  font-style: normal;
  font-weight: 700;
}
._2Kg4KEbkqsMCTnl2HKomE2 {
  font-size: calc(12rem / 16);
  font-style: normal;
  font-weight: 400;
}
._3E9voyFBebtdMjYL899Njk {
  font-size: calc(10rem / 16);
  font-style: normal;
  font-weight: 400;
}
._2UheTu0Q3n5v4DzdPus_a5 {
  font-size: calc(10rem / 16);
  font-style: normal;
  font-weight: 500;
}
._1m-h3QRJMMhJ0EBFrf0Rr4 {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
._27CO7e001ShrZgSylEoDrC {
  font-family: var(--typography-font-family);
  margin: 0;
}

._2jL2dJdEOSkHL49gVtIYlX {
  color: var(--grey-dark);
  font-weight: 500;
  max-width: 17ch;
  word-wrap: break-word;
}
._33BWH7orWOzYEU8nwvNywy {
  color: var(--text-color);
}
._1tvjuPe6vI-FiLeIhxsguH {
  color: var(--base-primary-main);
}
._3xKCHhyFluB4i_NKVM8FdH {
  color: var(--base-primary-main);
  font-style: normal;
  font-weight: bold;
  font-size: calc(100vw * 12 / 1440);
  line-height: calc(100vw * 16 / 1440);
  text-align: right;
  letter-spacing: 0.3px;
}

@media only screen and (max-width: 480px) {
  ._2jL2dJdEOSkHL49gVtIYlX {
    display: none;
  }
  ._3xKCHhyFluB4i_NKVM8FdH {
    font-size: calc(100vw * 12 / 360);
    line-height: calc(100vw * 16 / 360);
  }
}
._23ce8Q_NQhcfAp_45xWs5b {
  background-color: var(--base-primary-main);
  border: none;
  border-radius: 0.25rem;
  color: #ffffff;
  cursor: pointer;
  font-size: 0.875rem;
  font-weight: 600;
  line-height: 1rem;
  letter-spacing: 0.031rem;
  min-width: 12.5rem;
  padding: 1rem;
  transition: background-color 0.25s;
}

._23ce8Q_NQhcfAp_45xWs5b:active {
  background-color: var(--base-primary-dark);
}

._23ce8Q_NQhcfAp_45xWs5b:disabled {
  background-color: var(--grey-middle);
  pointer-events: none;
}

._23ce8Q_NQhcfAp_45xWs5b:hover {
  background-color: var(--base-primary-middle);
}

._290W4lgMi9HJQNu8MxWx9c {
  display: block;
  width: 100%;
}
._2AaOnuSqfQXlgekv5dWtY- {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 48px;
  background-color: #064C6F;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: .3px;
  padding: 0 16px;
  text-align: center;
}

._2AaOnuSqfQXlgekv5dWtY- a {
  display: inline-block;
  margin-left: 5px;
  color: #FAB005;
  text-decoration: underline;
}

@media only screen and (max-width: 480px) {
  ._2AaOnuSqfQXlgekv5dWtY- {
    display: block;
    height: 60px;
    padding-top: 8px;
  }
}
._36Mwuu9kBx_RGwgfKLmgNV {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  padding: 16px;
}
@media only screen and (max-width: 480px) {
  ._36Mwuu9kBx_RGwgfKLmgNV {
    padding: calc(24rem / 16);
  }
  ._36Mwuu9kBx_RGwgfKLmgNV > .zEN11WFOCCKIWwvyTZTHI {
    display: flex;
    flex: 1;
    align-items: center;
    padding-left: 0;
    flex-wrap: wrap;
  }
  ._36Mwuu9kBx_RGwgfKLmgNV > div > div {
    padding-left: 0;
    margin-top: 8px;
  }
  ._36Mwuu9kBx_RGwgfKLmgNV > div > div > ._2-CaXqeqzVaV5FdRtUi39H {
    margin-right: 8px;
    height: 1.4rem;
  }
  ._36Mwuu9kBx_RGwgfKLmgNV > div > ._2-CaXqeqzVaV5FdRtUi39H {
    height: 1.95rem;
  }
  ._36Mwuu9kBx_RGwgfKLmgNV > div:nth-child(2) {
    padding: 0;
    display: flex;
    flex: 1;
    flex-wrap: wrap;
  }
  ._36Mwuu9kBx_RGwgfKLmgNV > div:nth-child(2) > div > a {
    margin-bottom: 4px;
  }
  ._36Mwuu9kBx_RGwgfKLmgNV > div:nth-child(3) {
    padding: 0;
  }
  ._36Mwuu9kBx_RGwgfKLmgNV > div:last-child {
    padding: 0;
    flex-direction: column-reverse;
  }
}
.zEN11WFOCCKIWwvyTZTHI {
  display: flex;
  flex: 1;
  align-items: center;
  padding-left: 14vw;
}
._3pBq_8EN-1PJsZc4LDZCZg {
  padding-left: 1vw;
}
._2-CaXqeqzVaV5FdRtUi39H {
  height: 2.8rem;
  margin-right: 16px;
}
._36Mwuu9kBx_RGwgfKLmgNV > div > ._2-CaXqeqzVaV5FdRtUi39H {
  padding-right: 2vw;
  border-right-width: 2px;
  border-right-color: #dedede;
  border-right-style: solid;
}
._3JpToTytfoL82uvFri26DD {
  padding: 16px;
  display: flex;
  flex: 1;
  padding-left: 14vw;
  padding-right: 14vw;
}
.CgJbk2K8TDRUFkHQEOEYP {
  padding: 16px;
  display: flex;
  flex: 1;
  flex-direction: column;
  margin-top: 16px;
}
.MQ9ryy5UyQp_JgyzE0PoE {
  color: #141414;
  margin-bottom: 16px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 1px;
}
._11zHE3lkcY4XuT6T-ZWvTW {
  margin-bottom: 8px;
  color: #333333;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0.25px;
}
.TJh97kSjTI0aJtQFA01R9 {
  color: #757575;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 20px;
}
._2zLWikdc7PQJlOxhOCwZ87 {
  padding: 16px;
  display: flex;
  flex: 1;
  padding-left: 14vw;
  padding-right: 14vw;
}
._392ZxZKhLgiXlDBJmeWkQ,
._1ZLggYjnEvK9MMUET8pZIr {
  color: #333333;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0.25px;
  display: flex;
  flex: 1;
  padding-left: 12px;
}
._1ZLggYjnEvK9MMUET8pZIr {
  flex: 2;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding-left: 12px;
}
._3_yHrcsiO1dwhMctu5lzk3 {
  display: flex;
  flex: 1;
  flex-wrap: wrap;
}
.djxWx9ud4CIZb0IKFrWbt {
  display: flex;
  margin-right: 36px;
  justify-content: center;
  align-items: center;
  border: 1px solid transparent;
}
._3gHUTPkr_35aXrhQhwYpl7 {
  padding-left: 14vw;
  padding-right: 14vw;
}
._2m0QvvTnKR1rr1CJJSCFPF {
  border-top-width: 2px;
  border-top-color: #e2e2e2;
  border-top-style: solid;
}

.FFcbtLSfX8gI2_4hsjYLL {
  line-height: 1.25rem;
  position: fixed;
  top: 25%;
  left: 45%;
  text-align: center;
  width: calc(100vw * 200 / 1440);
  z-index: 105;
}
.FFcbtLSfX8gI2_4hsjYLL > div {
  color: #fff;
  margin-top: 1rem;
  text-align: left;
}
._1y_-W4EgkmOH5vOqKmgWG7 {
  display: none !important;
}
._1nOxdb1Yqwm6nDqjGKu0QE{
  height: 150;
  width: 150;
}
@media only screen and (max-width: 480px) {
  .FFcbtLSfX8gI2_4hsjYLL {
    left: 50%;
    top: 50%;
    transform: translate(calc(-50% + 12.5px), -50%);
    width: 100px;
  }
}

._3pVfWGt_bYGCu1EyqZ6tEa {
  display: flex;
  margin-top: .5rem;
}

._3oiHGFRkhJFYpwt8yV0NqZ {
  background-color: var(--grey-soft);
  border-radius: 0.4rem;
  border: none;
  box-shadow: none;
  flex: 20 1 auto;
  color: var(--light-text-color);
  font-size: 0.9rem;
  font-weight: 400;
  outline: none;
  padding: 0.75rem;
}

._3oiHGFRkhJFYpwt8yV0NqZ:disabled {
  background-color: #e5e5e5 !important;
  color: #999999 !important;
}

._3oiHGFRkhJFYpwt8yV0NqZ::-moz-placeholder {
  color: #b2b4b5;
}

._3oiHGFRkhJFYpwt8yV0NqZ:-ms-input-placeholder {
  color: #b2b4b5;
}

._3oiHGFRkhJFYpwt8yV0NqZ::placeholder {
  color: #b2b4b5;
}

._3oiHGFRkhJFYpwt8yV0NqZ._1jGK24geyYkBfYESVcIdQz {
  border-color: #ee4c24;
}

._2y5cth2fCXqRwDorSgdBAg {
  color: #E11900;
  display: block;
  font-size: 0.75rem;
  margin-top: 0.25rem;
  letter-spacing: 0.03em;
}

._2y5cth2fCXqRwDorSgdBAg::before {
  content: url(/assets/ic-red-information.svg);
}

.kYep2SYfo-KyvOVenrG0d {
  margin-bottom: 0.5rem;
  letter-spacing: 0.03rem;
  font-weight: 500;
  font-size: 1rem;
}

._1J69dqeSm3XsFAy8Ub-_hL {
  background-color: var(--grey-soft);
  border-radius: 0.4rem;
  padding: 0.68rem;
  outline: none;
  font-style: normal;
  font-weight: 500;
  margin-right: .5rem;
}

._2iyQmK2f8OnQZU2WjnQyAm {
  margin-top: .6rem;
  position: absolute;
  right: 3rem;
}
._3762VKTUV7hbJ2cHWRVgY2 {
  -webkit-animation: PdeVRwSx-XF0uawVKjqU1 2s linear infinite;
          animation: PdeVRwSx-XF0uawVKjqU1 2s linear infinite;
  border-radius: 50%;
  margin: auto;
  -webkit-mask-box-image: conic-gradient(#ffffff 0%, #ffffff 0 43%, rgba(255, 255, 255, 0) 100%);
          mask-border: conic-gradient(#ffffff 0%, #ffffff 0 43%, rgba(255, 255, 255, 0) 100%);
  height: 1rem;
  border: 0.125rem solid;
  width: 1rem;
}

._1lZhFaTCnv_jMoin0kANUF {
  color: white;
}

._24Y4EWQ1i1Zs-tBLkYFfaB {
  color: #229BD8;
}

@-webkit-keyframes PdeVRwSx-XF0uawVKjqU1 {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@keyframes PdeVRwSx-XF0uawVKjqU1 {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

._3g7DrYvi8TV4UypChkY2Cw > button {
  width: 100%;
}
._3g7DrYvi8TV4UypChkY2Cw > p {
  align-self: stretch;
  flex-grow: 0;
  font-size: .9rem;
  margin: .5rem 0 1.5rem 0;
  order: 2;
  letter-spacing: 0.03em;
}
._2BaECh0tKGab5eQJ1f-fpy {
  margin: 1rem 0 2rem 0;
}
._3CQgvZrU4yP_g0kyV6afJ5 {
  max-width: 3rem;
  margin-right: 1rem;
}
._2s3Ri1d_hka9Dr3UPjQOb7 {
  color: var(--base-primary-main);
}
._2xtJg64iu96bVA-IxmiSra {
  display: flex;
  margin-top: 1rem;
}
.J1qOmh2fqC8CwHyjqmCgO {
  text-align: center;
}

._2remZvexEvgSsGxi6v9S5X > button {
  width: 100%;
}
._2remZvexEvgSsGxi6v9S5X > p:last-of-type {
  align-self: stretch;
  flex-grow: 0;
  font-size: .9rem;
  margin: .5rem 0 1.5rem 0;
  order: 2;
  letter-spacing: 0.03em;
}
._3ywyzRcCwz_DJ-EBS4o2Zx {
  margin: 1rem 0 2rem 0;
}
._1cHa1MCYS8OrlMmWheFbkL {
  width: 100%;
}
._3kPqteKJthXVGD8pN29PfT {
  display: flex;
  margin-top: 1rem;
}
._2T5ZDCjhakrNYcPV_ZNTG0 {
  color: var(--base-primary-main);
}
._1gXFGU2uzfTHdpzwSmviiN {
  text-align: center;
}

._2YYy9EGugKjPmQgIKVWrNg {
  margin: auto;
  position: relative;
  text-align: center;
}
._2YYy9EGugKjPmQgIKVWrNg > input {
  background: none;
  border: none;
  border-bottom: 0.125rem solid #cccccc;
  border-radius: 0;
  color: #333435;
  font-size: 2rem;
  font-weight: 400;
  height: 3.75rem;
  line-height: 3rem;
  outline: none;
  text-align: center;
  width: calc(100vw * 75 / 1440);
  margin-right: 0.5rem;
}
._2YYy9EGugKjPmQgIKVWrNg > input:focus {
  border-bottom: 0.25rem solid var(--primary-color);
}
._2YYy9EGugKjPmQgIKVWrNg._2hrhZKkQlHSkoqiDq7r5n2 > input {
  border-bottom: 0.25rem solid #E11900;
  color: #E11900;
}
._1QTQoAYJkZwGCA0V5549OS {
  width: 100%;
}
._2lvGnojgGIkAhSlao_S0HG {
  margin: 1rem 0 2rem 0;
}
._3qPXp5nbRtupSsDMiwOGwy {
  color: #E11900;
  display: block;
  font-size: 0.75rem;
  margin-top: 0.25rem;
  letter-spacing: 0.03em;
}

@media only screen and (max-width: 480px) {
  ._2YYy9EGugKjPmQgIKVWrNg > input {
    width: calc(100vw * 30 / 360);
  }
}
._2vMSzM7Hqyf6QHggSZco2u {
  text-align: center;
}

._1vyH8RocPa-6E9cNkiZ-hG {
  display: flex;
  margin-top: 1rem;
}

._2IY0J3VLeGFq-IhrBzS5sk {
  color: var(--base-primary-main);
}

._3S4zap1xoO-92pvIxup2uS {
  display: flex;
}

._3S4zap1xoO-92pvIxup2uS > h3 {
  font-weight: 500;
  margin: auto;
}

._3S4zap1xoO-92pvIxup2uS > img {
  cursor: pointer;
  position: absolute;
}

._14s8boBmMJhWH8g23rd0WG {
  text-align: center;
}

._14s8boBmMJhWH8g23rd0WG > * {
  margin: .5rem 0;
}

._14s8boBmMJhWH8g23rd0WG > img {
  width: 35%;
}

._14s8boBmMJhWH8g23rd0WG > h4 {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
  text-align: center;
  letter-spacing: 0.3px;
  color: #37393A;
}

._14s8boBmMJhWH8g23rd0WG > p {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0.3px;
  color: #757879;
}

._14s8boBmMJhWH8g23rd0WG > p > a {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0.3px;
}

._14s8boBmMJhWH8g23rd0WG > button {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0.3px;
}

._1qnAxi0FK_u0mnvADWehmx {
  display: flex;
}

._1qnAxi0FK_u0mnvADWehmx > h3 {
  font-weight: 500;
  margin: auto;
}

._1qnAxi0FK_u0mnvADWehmx > img {
  cursor: pointer;
}

._3zjQfow38821UBR_s14WqT {
  padding: calc(44rem/16) 0 0;
}
._1RIcMXzc5ZPN0A3WMM_uzo {
  text-align: center;
  border: none;
}
._1RIcMXzc5ZPN0A3WMM_uzo > p {
  margin-bottom: 2rem;
}

._3iZfii1d0n2fCd41MxN8ds {
  color: var(--grey-main);
  margin-top: var(--header-height);
  padding: 0 calc(220rem / 16);
  position: relative;
}

._3VXBNh91p8U5E6_I4qyaN1 {
  /* margin-top: 128px; */
  margin-top: 80px;
}

@media only screen and (max-width: 480px) {
  ._3iZfii1d0n2fCd41MxN8ds {
    color: var(--grey-main);
    padding: 0 calc(24rem / 16);
    margin-top: var(--header-height-mobile);
  }

  ._3VXBNh91p8U5E6_I4qyaN1 {
    /* margin-top: 120px; */
    margin-top: 59px;
  }
}

._3T6Gr4fQtylrYVFVsO-Hfd {
  height: 100%;
}
.aeCxAbDiZPyHNNhdDEgZ3 {
  margin: 0 .9rem;
}
._1uMo7RFZlvRTSiXTAdB4t0 {
  border-radius: .5rem;
  background-color: #ffffff;
  min-height: 40rem;
  max-width: 22rem;
}
.TDu-FZl8KZXnAL8Iu1vCZ {
  margin: 0 1rem;
  width: auto;
  border-radius: .5rem;
}
.LONPNAhjD6qmV9QSMhlzU:not(:hover) {
  background-color: var(--base-primary-main);
  color: #ffffff;
}
._2Nc5gLgLPY9jQVwJ4iOwKs {
  min-width: 2.7555rem;
}
._2Nc5gLgLPY9jQVwJ4iOwKs > svg {
  fill: var(--base-primary-main);
}
.LONPNAhjD6qmV9QSMhlzU:not(:hover) ._2Qs-D6pVDX8b0W-rg8W298 > svg {
  fill: #ffffff;
}
._8mw9xBO2M-iTzhJxmNg-R {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background-color: var(--base-primary-main);
  color: #ffffff;
}
.k6DCWWpHKEhKoX4xbALR7 {
  background-color: #ffffff;
  color: var(--base-primary-main);
}
._1RUz75o8MAyuRygiji8lcK > div:last-child {
  margin-top: 2.5rem;
}
.pVdm9ZYMHcP3VaSC_cgIl {
  bottom: 1rem;
  border-radius: .5rem;
  position: absolute;
  margin: 0 1rem;
  width: 90%;
}
.pVdm9ZYMHcP3VaSC_cgIl:hover, .pVdm9ZYMHcP3VaSC_cgIl:hover > svg {
  background-color: var(--base-primary-main);
  color: #ffffff;
  fill: #ffffff;
}
._1UAP-RqNa0e4amBdfsTW1u {
  min-width: 2rem;
}
._1UAP-RqNa0e4amBdfsTW1u > svg {
  fill: var(--base-primary-main);
}
.pVdm9ZYMHcP3VaSC_cgIl:hover ._1UAP-RqNa0e4amBdfsTW1u > svg {
  fill: #ffffff;
}
._22_SbaE1D2XEwW0zvwbSAx {
  margin-top: 0;
}
._1DkNNucuRyxwbhfw3xlgaL {
  margin: 1rem 0;
}
._1y_UrBCGrmewuCJpFBHLAe {
  max-width: 3rem;
  margin-right: 10px;
}
.uy4s2bxCadfCPkXbc5VR8 {
  margin-top: 1.7rem;
}
.uy4s2bxCadfCPkXbc5VR8 > a {
  color: inherit;
  text-decoration: none;
}

._t3ZCzU3N8D1iWH4Io4Eu {
  background-color: var(--grey-soft);
  margin: 0 calc(-220rem / 16);
  padding: calc(40rem / 16) calc(220rem / 16) calc(80rem / 16);
}

@media only screen and (max-width: 600px) {
  ._t3ZCzU3N8D1iWH4Io4Eu {
    background-color: #F5F5F5;
    margin: 0 calc(-24rem / 16);
    padding: .75rem;
    min-height: calc(100vh - var(--header-height));
  }
}

._2FWbrn_4n6DbneX0yhx1Nb {
  display: flex;
  height: 100vh;
  text-align: center;
}

._2FWbrn_4n6DbneX0yhx1Nb > div {
  margin: auto;
}

._2FWbrn_4n6DbneX0yhx1Nb > div > img {
  width: 10rem;
  margin: 3rem;
}
* {
  -webkit-animation: fade-in 0.5s ease-in-out;
          animation: fade-in 0.5s ease-in-out;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  list-style: none;
  margin: 0;
  outline: none;
  padding: 0;
  scroll-behavior: smooth;
}

@-webkit-keyframes fade-in {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes fade-in {
  from { opacity: 0; }
  to { opacity: 1; }
}

a {
  color: inherit;
  text-decoration: none;
}

body {
  overflow-x: hidden;
}

#app {
  z-index: 1;
  overflow-x: hidden;
}

.modal-open {
  overflow-y: hidden;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.6);
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  transition: background-color 0.25s;
  width: 100vw;
  z-index: 102;
}

.noscroll { 
  overflow: hidden !important;
}

:root {
  /* palette color */
  --base-primary-dark: #064C6F;
  --base-primary-main: #229BD8;
  --base-primary-middle: #54BAED;
  --base-primary-light: #BDE6FA;
  --base-primary-soft: #EAF5FA;
  --base-secondary-dark: #BF050F;
  --base-secondary-main: #EF2F3A;
  --base-secondary-middle: #F66E76;
  --base-secondary-light: #F6B4B8;
  --base-secondary-soft: #FCE3E4;
  --base-orange-soft: #FFE8CC;
  --base-green: #05944F;
  font-size: calc(100vw * 16 / 1440);
  /* palette text */
  --grey-dark: #424242;
  --grey-dark-new: #37393A;
  --grey-main: #616161;
  --grey-middle: #BDBDBD;
  --grey-light: #E0E0E0;
  --grey-soft: #EEEEEE;
  --header-height: 80px;
  --header-height-mobile: 60px;
  --text-color: #424242;
  --ultra-light-text-color: #F2F2F2;
}

@media only screen and (max-width: 480px) {
  :root {
    font-size: calc(100vw * 16 / 360);
  }
}

::-webkit-scrollbar {
  width: 0.625rem;
  height: 0.625rem;
}

::-webkit-scrollbar-thumb {
  border-radius: 1.5625rem;
  border: 0.0625rem solid #ffffff;
  background: rgba(36, 58, 72, 0.4);
  opacity: 0.1;
  position: absolute;
}

